<template>
  <form @submit.prevent="auth">
    <div class="form-group">
      <input class="form-control" type="text" autocomplete="new-password" v-model="form.email"
             placeholder="Email или никнейм">
    </div>
    <div class="form-group">
      <input class="form-control" type="password" autocomplete="new-password" v-model="form.password"
             placeholder="Пароль"/>
    </div>
    <div class="text-center">
      <div>
        <button type="submit" class="btn btn-primary">Войти</button>
      </div>
    </div>
  </form>
</template>

<script>
  export default {
    name: "LoginForm",
    data() {
      return {
        form: {
          email: '',
          password: ''
        }
      }
    },
    methods: {
      auth() {
        const vm = this;
        this.$jeembo_api.delToken();
        this.$jeembo_api.request().users.login(this.form.email, this.form.password).then(response => {
          this.$store.commit('setAuth', true);
          this.$store.commit('setCurrentUser', response.data.user);
          this.$router.push("/");
          this.$jeembo_api.setToken(response.data.token);
        }).catch(error => {
          console.log(error);
        })
      },
    }
  }
</script>

<style scoped>

</style>
