<template>
  <form action="" @submit.prevent="sendForm">
    <div class="form-group">
      <input type="email" id="email" placeholder="Email" v-model="email" class="form-control">
      <div v-if="errors.email">
        <p class="text-danger" v-for="error in errors.email" :key="error">
          {{error}}
        </p>
      </div>
    </div>
    <div class="form-group">
      <input type="text" id="username" placeholder="Никнейм" v-model="username" class="form-control" autocomplete="new-password">
      <div v-if="errors.username">
        <p class="text-danger" v-for="error in errors.username" :key="error">
          {{error}}
        </p>
      </div>
    </div>
    <div class="form-group password">
      <input :type="passwordShowed ? 'text' : 'password'" ref="password_field" placeholder="Пароль" id="password" v-model="password" class="form-control" autocomplete="new-password">
      <div v-if="errors.password">
        <p class="text-danger" v-for="error in errors.password" :key="error">
          {{error}}
        </p>
      </div>
      <div class="toggleViewPassword" @click="passwordShowed = !passwordShowed">
        <i class="fas fa-eye" v-if="!passwordShowed"></i>
        <i class="fas fa-eye-slash" v-else></i>
      </div>
    </div>
    <div class="form-group text-center">
      <button class="btn btn-primary">Регистрация</button>
    </div>
  </form>
</template>

<script>
  export default {
    name: "RegistrationForm",
    data() {
      return {
        passwordShowed: false,
        email: '',
        username: '',
        password: '',
        errors: {}
      }
    },
    methods: {
      sendForm() {
        this.$jeembo_api.request().users.reg(
          this.username,
          this.email,
          this.password
        ).then(response => {
          this.$store.commit('setAuth', true);
          this.$store.commit('setCurrentUser', response.data.user);
          this.$jeembo_api.setToken(response.data.token);
          this.$router.push("/");

        }, error => {
          Object.entries(error.response.data).forEach(entry => this.$set(this.errors, entry[0], entry[1]));
        })
      }
    }
  }
</script>

<style lang="scss" scoped>
  .form-group.password {
    position: relative;
    
    & .toggleViewPassword {
      position: absolute;
      right: 10px;
      top: 6px;
      font-size: 18px;
      display: block;
      &:hover {
        cursor: pointer;
      }
    }
  }
</style>
