<template>
  <form @submit.prevent="sendRequest">
    <div class="form-group">
      <input class="form-control" type="email" v-model="email" placeholder="Введите email">
    </div>

    <div class="form-group text-center">
      <button class="btn btn-primary">Восстановить</button>
    </div>
  </form>
</template>

<script>
  export default {
    name: "RestorePasswordForm",
    data() {
      return {
        email: ""
      }
    },
    methods: {
      sendRequest() {
        this.$jeembo_api.request().users.restorePassword(this.email).then(response => {
          console.log(response);
        })
      }
    }
  }
</script>

<style scoped>

</style>
