<template>
  <b-card>
    <div class="block-title">Топ 5 комментаторов</div>
    <b-nav vertical>
      <b-nav-item type="dark" class="widget-list" v-for="user in users" :key="user">
        <div class="position-title">{{user.username}}</div>
        <div class="block-title">
          <small>Рейтинг: {{user.rating}}</small>
        </div>
      </b-nav-item>
    </b-nav>
  </b-card>
</template>

<script>
  export default {
    name: "TopCommentatorsWidget",
    data() {
      return {
        users: [
          {
            'username': 'mortis',
            'rating': 10500
          },
          {
            'username': 'ffasko',
            'rating': 1233
          },
          {
            'username': 'santos',
            'rating': 522
          },
          {
            'username': 'deadp1x',
            'rating': 400
          },
          {
            'username': 'admin',
            'rating': 100
          }
        ]
      }
    }
  }
</script>

<style scoped>

</style>
