<template>
  <b-card>
    <div class="block-title">Топ пользовательских тегов</div>
    <b-nav vertical>
      <b-nav-item type="dark" class="widget-list" v-for="theme in themes" :key="theme">
        <div class="position-title">{{theme.title}}</div>
        <div class="block-title">
          <small>Рейтинг: {{theme.rating}}</small>
        </div>
      </b-nav-item>
    </b-nav>
  </b-card>
</template>

<script>
  export default {
    name: "TopUsersTagsWidget",
    data() {
      return {
        themes: [
          {
            'title': 'Read Dead Redemption 2',
            'rating': 123
          },
          {
            'title': 'Playstation 5',
            'rating': 100
          },
          {
            'title': 'Детектив пикачу',
            'rating': 80
          },
          {
            'title': 'Project Scarlet',
            'rating': 70
          },
          {
            'title': 'E3 2019',
            'rating': 50
          }

        ]
      }
    }
  }
</script>

<style scoped>

</style>
