<template>
  <widget title="Войти" v-if="!$store.state.is_auth">
    <section v-if="mode === 'login'">
      <login-form/>
      <hr>
      <div class="text-center">
        <button @click="setMode('registration')" class="btn btn-outline-success">Зарегистрироваться</button>
      </div>
    </section>
    <section v-if="mode === 'registration'">
      <registration-form/>
      <hr>
      <div class="text-center">
        <button class="btn btn-outline-success" @click="setMode('login')">Войти</button>
      </div>
    </section>
    <section v-if="mode === 'restore'">
      <restore-password-form/>
      <hr>
      <div class="text-center">
        <button class="btn btn-outline-success" @click="setMode('login')">Войти</button>
      </div>
    </section>
    <br>
  </widget>

  <widget title="Меню пользователя" v-else>
    <div class="row">
      <div class="col-lg-3">
        <avatar size="50px" class="pull-lg-right" :url="$store.state.current_user.avatar_50"/>
      </div>
      <div class="col-lg-8">
        <div>
          {{$store.state.current_user.username}}
        </div>
        <div>
          <small>Рейтинг: {{$store.state.current_user.rating }}</small>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="nav flex-column usermenu">
        <li class="nav-item">
          <nuxt-link class="nav-link" :to="{name: 'users-id', params: {id: $store.state.current_user.id}}">
            <i class="nav-icon far fa-newspaper"></i> Мои посты
          </nuxt-link>
        </li>
        <li class="nav-item">
          <nuxt-link :to="{name: 'marks'}" class="nav-link">
            <i class="nav-icon far fa-heart"></i> Мои оценки
          </nuxt-link>
        </li>
        <li class="nav-item">
          <nuxt-link :to="{name: 'notifications'}" class="nav-link">
            <i class="nav-icon far fa-bell"></i> Уведомления
            <span v-if="$store.state.current_user.count_unread_notification > 0" class="badge badge-secondary">{{$store.state.current_user.count_unread_notification}}</span>
          </nuxt-link>
        </li>
        <li class="nav-item" v-if="false">
          <a href="#" class="nav-link">
            <i class="nav-icon far fa-star"></i> Избранное
          </a>
        </li>
        <li class="nav-item">
          <nuxt-link :to="{name: 'settings'}" class="nav-link">
            <i class="nav-icon fas fa-gear"></i> Настройки
          </nuxt-link>
        </li>
        <li class="nav-item">
          <a href="#" @click.prevent="logout" class="nav-link">
            <i class="nav-icon fas fa-sign-out-alt"></i> Выйти
          </a>
        </li>
      </div>
    </div>
  </widget>
</template>

<script>

  import Widget from "../Widget";
  import LoginForm from "./LoginForm";
  import RegistrationForm from "./RegistrationForm";
  import RestorePasswordForm from "./RestorePasswordForm";
  import Avatar from "../Avatar";

  export default {
    name: "UserMenu",
    components: {Avatar, RestorePasswordForm, RegistrationForm, LoginForm, Widget},
    data() {
      return {
        mode: 'login',
        form: {
          email: "",
          password: ""
        }
      }
    },
    beforeMount() {
    },
    methods: {
      auth() {
        const vm = this;
        this.$jeembo_api.delToken();
        this.$jeembo_api.request().users.login(this.form.email, this.form.password).then(response => {
          this.$store.commit('setAuth', true);
          this.$store.commit('setCurrentUser', response.data.user);
          this.$jeembo_api.setToken(response.data.token);
        }).catch(error => {
          console.log(error);
        })
      },
      setMode(mode) {
        this.mode = mode;
      },
      logout() {
        this.$jeembo_api.delToken();
        this.$store.commit('setAuth', false);
        this.$store.commit('setCurrentUser', {});
        this.$router.push("/");
      }
    }
  }
</script>

<style lang="scss" scoped>
  .nav {
    width: 100%;
  }

  .nav-icon {
    width: 30px;
  }

  .nav-item {
    width: 100%;
    transition: all 0.3s ease;

    &:hover, .nuxt-link-active {
      background: var(--bg-color);
      border-right: 5px #FE6F61 solid;
      color: var(--widget-color);

      .nav-icon {
        color: #FE6F61;
      }

    }
  }

  .usermenu a {
    color: var(--widget-color);
  }
</style>
