<template>
  <div class="comments__container">
    <comment :ref="'comment'+comment.id" :model="comment" v-for="(comment, index) in model" :key="index"/>
  </div>
</template>

<script>
  import Comment from './Comment';

  export default {
    props: ["model", "comment_id"],
    name: "CommentsList",
    components: {Comment},
    mounted() {
      if (this.comment_id) {
        const ref = document.body.querySelector(`#comment_id${this.comment_id}`);
        ref.scrollTop = ref.clientHeight;
      }
    }
  }
</script>

<style scoped>
  .comments__container {
    float: left;
    width: 100%;
  }
</style>
