<template>
  <div class="comments__form">
    <form @submit.prevent="onSendComment">
      <div class="form-group">
        <textarea class="form-control" v-model="text" placeholder="Введите комментарий"></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-primary pull-right">Отправить</button>
      </div>
    </form>
  </div>
</template>

<script>
  export default {
    props: ['parent_id', 'post_id'],
    name: "CommentsSendForm",
    data() {
      return {
        text: ''
      }
    },
    methods: {
      onSendComment() {
        this.$jeembo_api.request().comments.create(
          this.text,
          this.post_id,
          this.parent_id
        ).then(response => {
          this.text = "";
          this.$emit("on-send-comment", response.data);
        })
      }
    }
  }
</script>

<style scoped>
  .comments__form {
    display: block;
    float: left;
    width: 100%;
    padding: 10px;
  }
</style>
