<template>
  <div class="comment_wrapper">
    <div class="comment" :id="'comment_id' + model.id" :ref="'comment_id' + model.id">
      <div class="comment__author">
        <div class="comment__author--avatar">
          <avatar :url="model.author.avatar_50" size="30px" />
        </div>
        <div class="comment__author--name">
          <a href="#">{{model.author.username}}</a>
        </div>
        <div class="comment__author--time">
          {{ model.date_created | moment('D MMMM в HH:mm') }}
        </div>
        <!--<div class="comment__author&#45;&#45;answer" v-if="comment.parent && comment.parent.author">-->
        <!--&nbsp;&nbsp;ответил <b>{{comment.parent.author.username}}</b>-->
        <!--</div>-->
      </div>
      <div class="comment__text">{{model.text}}</div>
      <div class="comment__control">
        <div class="comment__control--item">
          <i class="fas fa-arrow-up comment__rating--up" :class="{'active': rating === 1}" @click="vote(1)"></i>
        </div>
        <div class="comment__control--item">
          {{rating}}
        </div>
        <div class="comment__control--item">
          <i class="fas fa-arrow-down comment__rating--down" :class="{'active': rating === -1}" @click="vote(-1)"></i>
        </div>
        <div class="comment__control--item">
          <a href="#" @click.prevent="showReply">Ответить</a>
        </div>
      </div>
      <div class="comment__form" v-if="isOpenReply">
        <comments-send-form @on-send-comment="onSendComment" :parent_id="model.id" :post_id="model.post"/>
      </div>
    </div>

    <div class="comments__container">
      <comment  :model="comment" v-for="(comment, index) in model.child" :key="index"/>
    </div>
  </div>
</template>

<script>
  import CommentsSendForm from "./CommentSendForm";
  import CommentsList from "./CommentsList";
  import Avatar from "../Avatar";

  export default {
    components: {
      Avatar,
      CommentsList,
      CommentsSendForm,
    },
    props: {
      model: Object,
      level: {
        type: Number,
        default: 0
      }
    },
    name: "Comment",
    data() {
      return {
        isOpenReply: false,
        tree_level: 0,
        rating: 0
      }
    },
    beforeMount() {
      this.tree_level = this.level;
      this.rating = this.model.rating;
    },
    methods: {
      onSendComment(comment) {
        this.isOpenReply = false;
        this.model.child.push(comment);
      },
      showReply() {
        this.isOpenReply = !this.isOpenReply;
      },
      vote(mark) {
        if (mark !== this.rating) {
          const new_vote = this.rating + mark;
          this.rating += mark;
          this.$jeembo_api.request().marks.add(
            'comment',
            this.model.id,
            new_vote
          )
        }
      }
    }
  }
</script>

<style lang="scss" scoped>

  .comments__container {
    padding-left: 25px;
    border-left: 1px #eee solid;
    float: left;
    height: auto;
    width: 100%;
  }
  .comment {
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 14px;
    float: left;
    width: 100%;

    & a {
      color: var(--main-color)
    }

    &__rating {
      &--up.active {
        color: #39c800;
      }

      &--down.active {
        color: #ff4500;
      }

      &--up, &--down {
        cursor: pointer;
      }
    }


    &__form {
      margin-top: 7px;
    }

    &__control {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      align-content: center;
      font-size: 12px;

      &--item {
        padding-right: 10px;
      }
    }

    &__text {
      padding-bottom: 10px;
      white-space: pre-line;
    }

    &__author {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      align-content: center;
      margin-bottom: 7px;
      font-size: 13px;

      &--name {
        padding-left: 7px;
        padding-right: 10px;
        font-weight: bold;
        color: #111;

      }


      &__time {
        color: #ccc;

        margin-left: auto;
      }
    }
  }
</style>
