<template>
  <div class="comments">
    <p class="comments__title">Комментарии</p>
    <comments-list :comment_id="comment_id" :model="comments" v-if="comments.length > 0"/>
    <comments-send-form @on-send-comment="onSendComment" :post_id="post_id"/>
  </div>
</template>

<script>
  import CommentsSendForm from "./CommentSendForm";
  import CommentsList from "./CommentsList";

  export default {
    components: {CommentsList, CommentsSendForm},
    props: ["post_id", "comment_id"],
    name: "CommentsListWrapper",
    data() {
      return {
        comments: []
      }
    },
    beforeMount() {
      this.$jeembo_api.request().comments.list(this.post_id).then(response => {
        this.comments = response.data;
        this.$emit("on-get-comments", true);
      })
    },
    methods: {
      onSendComment(comment) {
        this.comments.push(comment)
      }
    }
  }
</script>

<style lang="scss" scoped>
  .comments {
    background: var(--widget-bg);
    color: var(--widget-color);

    padding: 20px;
    border-radius: 4px;
    float: left;
    width: 100%;

    &--container {
      float: left;
      width: 100%;
    }

    &__form {
      float: left;
      width: 100%;
      margin-top: 20px;
    }

    &__title {
      color: #ccc;
    }

    &__container {

    }
  }
</style>
