<template>
  <div class="block">
    <div class="block__control">
      <div class="block__control--item" @click="onActionClick('up')">
        <img src="../../assets/up-arrow.svg"/>
      </div>
      <div class="block__control--item" @click="onActionClick('delete')">
        <img src="../../assets/delete.svg"/>
      </div>
    </div>
    <div class="block__body">
      <slot></slot>
    </div>

  </div>
</template>

<script>
  export default {
    props: ['block'],
    name: "BaseBlock",
    methods: {
      onActionClick(action) {
        this.$emit('on-action', action)
      }
    }
  }
</script>

<style lang="scss" scoped>
  .block {
    position: relative;
    line-height: 25px;
    float: left;
    width: 100%;
    display: block;

    &:hover {
      & .block__control {
        display: flex;
      }
    }

    &__control {
      position: absolute;
      right: 10px;
      top: 0;
      justify-content: center;
      display: none;
      background: #fff;

      &--item {
        padding: 10px;

        :hover {
          cursor: pointer;
        }

        & img {
          height: 16px;
          width: 16px;
          vertical-align: middle;
        }
      }
    }

    &:hover {
      background: var(--input-focus-bg);
    }
  }
</style>
