<template>
  <base-block ref="wrapper" :block="block" @on-action="onActionSelect">
    <div v-if="!file">
      <form action="" ref="file_form" hidden>
        <input type="file" ref="file_field" accept="image/*" @change="onChangeFieldField">
      </form>
      <div class="image_uploader" @click="onClickOnUploader">
        <i class="fas fa-upload fa-3x"></i>
        Нажмите, чтобы загрузить изображение или GIF
        <small>Максимальный размер изображения – 1 мегабайт</small>
      </div>
    </div>
    <canvas height="0" width="0" style="display: none;" ref="canvas"></canvas>
  </base-block>
</template>

<script>
  import BaseBlock from "./BaseBlock";
  import blockManager from "../../mixins/blockManager";

  export default {
    props: {
      block: Object,
      maxSize: {
        type: Number,
        default: 1048576 // в байтах
      }
    },
    mixins: [blockManager],
    name: "ImageBlock",
    data() {
      return {
        file: ""
      }
    },
    methods: {
      drawImageProp(img) {
        const parentWidth = this.$refs.wrapper.$el.offsetWidth;
        const ctx = this.$refs.canvas.getContext('2d');

        let imageWidth = img.width;
        let imageHeight = img.height;
        let scaleX = 1;

        if (imageWidth > parentWidth) {
          scaleX = parentWidth / imageWidth;
        }

        imageWidth = imageWidth * scaleX;
        imageHeight = imageHeight * scaleX;

        this.$refs.canvas.height = imageHeight;
        this.$refs.canvas.width = imageWidth;
        this.$refs.canvas.style.display = "block";
        ctx.drawImage(img, 0, 0, img.width, img.height, 0, 0, imageWidth, imageHeight);
      },
      isFileSizeNotBiggerMax() {
        return this.file.size < this.maxSize;
      },
      onChangeFieldField() {
        this.file = this.$refs.file_field.files[0];
        if (this.isFileSizeNotBiggerMax()) {
          const img = new Image();

          img.src = URL.createObjectURL(this.file);

          const vm = this;
          img.onload = function () {
            vm.drawImageProp(img)
          };

          let formData = new FormData();
          formData.append('file', this.file);


          this.$jeembo_api.request().files.upload(formData).then(response => {
            vm.block.content = response.data.url;
          }, error => {
            alert("Ошибка загрузки изображения");
            this.file = undefined;
          })
        }
        else {
          alert("Изображение превышает максимальный размер 1мб.");
          this.file = undefined;
        }

      },
      onClickOnUploader() {
        this.$refs.file_field.click()
      }
    },
    components: {
      BaseBlock
    }
  }
</script>

<style lang="scss" scoped>
  .image_uploader {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 25vw;
    background: #fafafa;

    &:hover {
      cursor: pointer;
    }
  }
</style>
