<template>
  <base-block :block="block" @on-action="onActionSelect">
    <section class="linkForm" v-if="!block.content">
      <form action="" @submit.prevent="onSubmit">
        <div class="form-group">
          <div>
            <input v-model="link" class="form-control" placeholder="Вставьте ссылку">
          </div>
        </div>
      </form>
    </section>
    <section v-else>
      {{block.content}}
    </section>
  </base-block>
</template>

<script>
  import BaseBlock from "./BaseBlock";
  import axios from 'axios';
  import blockManager from "../../mixins/blockManager";

  export default {
    props: {
      block: Object,
    },
    data() {
      return {
        link: ""
      }
    },
    components: {BaseBlock},
    mixins: [blockManager],
    name: "LinkBlock",
    methods: {
      loadData() {
        axios.post(this.link).then(response => {
          let a = 5;
          debugger;
        })
      },
      onSubmit() {
        this.loadData();
      },
      onChange(event) {
        this.loadData();
      }
    }
  }
</script>

<style scoped>
  .linkForm {
    padding: 1em;
  }
</style>
