<template>
  <base-block :block="block" @on-action="onActionSelect">
    <blockquote @paste="onPaste" class="block__content" ref="content" @focusout="updateText" contenteditable="true">
    </blockquote>
  </base-block>
</template>

<script>
  import BaseBlock from "./BaseBlock";
  import blockManager from '../../mixins/blockManager'

  export default {
    props: {
      block: Object,
    },
    mixins: [blockManager],
    name: "QuoteBlock",
    components: {BaseBlock},
    methods: {
      updateText(e) {
        this.block.content = e.target.innerText;
      },
      onPaste(e) {
        e.preventDefault();
        const text = e.clipboardData.getData("text/plain").replace(/(\r\n\t|\n|\r\t)/gm, "");
        document.execCommand("insertHTML", false, text);
      }
    },
    mounted() {
      this.$refs.content.focus();
    }
  }
</script>

<style scoped>
  blockquote {
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    color: #999;
    background: #fafafa;
    padding: 10px 5px;
    border-radius: 5px;
    margin: 0;
    outline: none;
  }
</style>
