<template>
  <base-block :block="block" @on-action="onActionSelect">
    <div @paste="onPaste" class="block__content" ref="content" @focusout="updateText" contenteditable="true">
    </div>
  </base-block>
</template>

<script>
  import BaseBlock from "./BaseBlock";
  import blockManager from '../../mixins/blockManager'

  export default {
    props: {
      block: Object,
    },
    mixins: [blockManager],
    name: "TextBlock",
    methods: {
      urlify(text) {
        const urlRegex = /(https?:\/\/[^\s]+)/g;
        return text.replace(urlRegex, function (url) {
          return '<a class="external_link" target="_blank" href="' + url + '">' + url + '</a>';
        })
      },
      updateText(e) {
        this.block.content = e.target.innerText;
      },

      onPaste(e) {
        e.preventDefault();
        const text = e.clipboardData.getData("text/plain");
        document.execCommand("insertHTML", false, text);
      }
    },
    mounted() {
      this.$refs.content.focus();
    },
    components: {BaseBlock}
  }
</script>

<style lang="scss" scoped>
  .block {
    &__content {
      outline: none;
      color: var(--text-color);
      line-height: 25px;
      padding: 10px 20px;
    }
  }
</style>
