<template>
  <base-block :block="block" @on-action="onActionSelect">
    <div class="linkInput" v-if="!block.content">
      <div class="linkInput__icon">
        <img src="../../assets/play-button.svg" width="32px" height="32px"/>
      </div>
      <div class="linkInput__input">
        <input @change="onChange" type="text"
               placeholder="Введите ссылку на Youtube или Vimeo">
      </div>
    </div>
    <div v-else-if="block.content" v-html="block.content"></div>
  </base-block>
</template>

<script>
  import BaseBlock from "./BaseBlock";
  import blockManager from '../../mixins/blockManager'
  import axios from "axios";

  export default {
    props: {
      block: Object,
    },
    data() {
      return {
        widget: undefined
      }
    },
    mixins: [blockManager],
    name: "VideoBlock",
    components: {BaseBlock},
    methods: {
      getHandler(link) {
        const support_services = ['youtube', 'coub', 'vimeo'];
        for (let service of support_services) {
          const index_service = link.indexOf(service);
          if (index_service > -1) {
            return service
          }
        }
      },
      vimeoHandler(link) {
        const parts = link.split('/');
        const video_id = parts[3];
        const vm = this;

        axios.get(`http://vimeo.com/api/v2/video/${video_id}.json`).then(response => {
          vm.block.content = `
                    <iframe src="https://player.vimeo.com/video/${video_id}"
                    width="100%" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
                    </iframe>`
          vm.block.preview = response.data[0].thumbnail_large;
        })
      },
      coubHandler(link) {
        const parts = link.split('view/');
        const video_id = parts[1];

        this.block.content = `
                    <iframe src="//coub.com/embed/${video_id}?muted=false&autostart=false&originalSize=false&startWithHD=false"
                    allowfullscreen frameborder="0" width="100%" height="360"></iframe>
                `;

      },
      youtube_parser(url) {
        const regExp = /^.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#\&\?]*).*/;
        const match = url.match(regExp);
        return (match && match[7].length === 11) ? match[7] : false;
      },
      youtubeHandler(link) {
        const video_id = this.youtube_parser(link);
        if (video_id) {
          this.block.content = `<iframe width="100%" height="360px" src="https://www.youtube.com/embed/${video_id}"
                     frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>`;
          this.block.preview = `https://img.youtube.com/vi/${video_id}/sddefault.jpg`
        }
      },
      onChange(e) {
        const vm = this;
        const handlers = {
          youtube: vm.youtubeHandler,
          // coub: vm.coubHandler,
          vimeo: vm.vimeoHandler,
        };
        const link = e.target.value;
        const service = this.getHandler(link);
        if (handlers.hasOwnProperty(service)) {
          handlers[service](link);
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  .linkInput {
    width: 100%;
    display: flex;
    padding: 20px;

    &__icon {
      width: 50px;
    }

    &__input {
      width: calc(85% - 50px);

      & input {
        width: 100%;
        outline: none;
        border: 1px solid #eee;
        padding: 0 7px;
        height: 35px;
      }
    }
  }
</style>
