<template>
  <img :src="url" class="rounded-circle" :width="size" alt="" v-if="url">
  <img src="../assets/default_avatar.png" :width="size"  class="rounded-circle" alt="" v-else>
</template>

<script>
  export default {
    props: {
      url: {
        type: String,
        default: "../assets/default_avatar.png"
      },
      size: {
        type: String,
        default: "50px"
      }
    },
    name: "Avatar"
  }
</script>

<style scoped>

</style>
