<template>
  <section class="preloader">
    <i class="fas fa-spinner fa-spin fa-3x"></i>
  </section>
</template>

<script>
  export default {
    name: "Preloader"
  }
</script>

<style scoped>
  .preloader {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: #fe6f61;
  }
</style>
