<template>
  <section>
    <user-menu/>
    <br>
    <div class="sidebar-footer text-center">
      <logo /> &copy; 2019
    </div>
  </section>
</template>

<script>
  import TopCommentatorsWidget from "./sidebar/TopCommentatorsWidget";
  import TopUsersTagsWidget from "./sidebar/TopUsersTagsWidget";
  import TopUsers from "./sidebar/TopUsers";
  import UserMenu from "./sidebar/UserMenu";
  import Widget from "./Widget";
  import Logo from "./logo";

  export default {
    name: "RightSidebar",
    components: {Logo, Widget, TopUsers, TopUsersTagsWidget, TopCommentatorsWidget, UserMenu}
  }
</script>

<style scoped>
  .card {
    margin-bottom: 15px;
  }

  .sidebar-footer {
    color: #888;
  }
</style>
