<template>
  <div class="tag-input__wrapper" v-on:click="onClickWrapper()">
    <div class="tag-input__content">
      <span class="tag" v-for="tag in tags" v-bind:key="tag">{{tag}}</span>
      <input type="text"
             v-model="tag"
             @change="listenTagEnter"
             v-on:input="listenTagChange"
             v-on:keydown.delete="listenDeleteKey"
             :placeholder="inputPlaceholder"
             :style="initInputStyle"
             ref="tags"
      />
    </div>
    <div class="tag-input__suggestions" :style="initSuggestionStyle">
      <ul>
        <li v-for="(suggestion, index) in initSuggestions" v-bind:key="index" @click="onClickOnSuggestion(suggestion)">
          {{suggestion}}
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
  export default {
    name: "TagInput",
    props: {
      maxTags: {
        type: Number,
        default: 9999
      },
      placeholder: {
        type: String,
        default: "Add tags"
      },
      clearSuggestionAfterClick: {
        type: Boolean,
        default: true
      },
      addTagOnlyFromInitTags: {
        type: Boolean,
        default: false,
      },
      initTags: {
        type: Array,
        default: () => []
      },
      initSuggestions: Array
    },
    data() {
      return {
        tag: "",
        tags: [],
      }
    },
    methods: {

      /**
       * Listen click on input wrapper
       */
      onClickWrapper() {
        this.$refs.tags.focus();
      },

      /**
       * Check current input tag is valid
       */
      validateTag(tag) {
        const tagAlreadyInList = this.tags.includes(tag);
        const smallerMaxLength = this.tags.length < this.maxTags;
        const isNotOnlySpace = /\S/.test(tag);
        const tagInInitList = this.addTagOnlyFromInitTags ? this.initTags.includes(tag) : true;
        return !tagAlreadyInList && smallerMaxLength && isNotOnlySpace && tagInInitList;
      },

      /**
       * Add tag to list by string
       * @param tag {string} tag for add to list
       */
      addTag(tag) {
        if (this.validateTag(tag)) {
          this.tags.push(this.prepareTag(tag));
          this.clearInput();
          this.emitChangeTagInput();
          this.emitChangeTagsList();
        }
      },

      /**
       * Clear list suggestions
       */
      clearSuggestion() {
        this.initSuggestions = []
      },

      /**
       * Listen click on suggestion
       * @param tag {string} clicked tag
       */
      onClickOnSuggestion(tag) {
        this.addTag(tag);
      },

      /**
       * Clear current text from input
       */
      clearInput() {
        this.tag = "";
        this.emitChangeTagInput();
      },

      /**
       * Prepare tag before add to list
       */
      prepareTag(tag) {
        return tag.replace(",", "").trim()
      },

      /**
       * Push tag to list tags
       */
      pushTag() {
        this.addTag(this.tag);
      },


      /**
       * Delete last tag in tags list
       */
      delLastTag() {
        this.tags.splice(-1, 1);
        this.emitChangeTagsList();
      },

      /**
       * Listen key down on input
       */
      listenDeleteKey() {
        const isInputEmpty = this.tag.length === 0;
        if (isInputEmpty) {
          this.delLastTag();
        }
      },

      /**
       * Listen key down on input
       */
      listenTagEnter() {
        this.pushTag();
      },

      /**
       * Listen change value on input
       */
      listenTagChange() {
        this.emitChangeTagInput();
        let value = this.tag;
        const size = this.tag.length;
        const lastChar = value[size - 1];
        if (lastChar === ",") {
          value = value.replace(",", "");
          if (this.validateTag(value)) {
            this.addTag(value);
          }
        }
      },
      emitChangeTagInput() {
        this.$emit("input-tag", this.tag);
      },
      emitChangeTagsList() {
        this.$emit("change-tags", this.tags);
      }
    },
    computed: {

      /**
       * Check show placeholder or hide
       * @returns {string} placeholder
       */
      inputPlaceholder() {
        if (this.tags.length === 0) {
          return this.placeholder;
        } else {
          return "";
        }
      },

      /**
       * Computed style for suggestion dropdown
       * @returns {{display: string}}
       */
      initSuggestionStyle() {
        return {
          display: this.initSuggestions.length > 0 ? "block" : "none",
        }
      },

      /**
       * Computed style for input
       * @returns {{width: string}}
       */
      initInputStyle() {
        return {
          width: this.tags.length === 0 ? "100%" : "200px"
        }
      }
    }
  }
</script>

<style lang="scss" scoped>

  .tag-input {
    &__wrapper {
      position: relative;
    }


    &__content {
      padding: 7px;
      border: 1px var(--input-border-color) solid;
      background: var(--widget-bg);
      font-size: 13px;
      height: auto;
      float: left;
      width: 100%;
      border-radius: 3px;


      & input {
        outline: none;
        border: none;
        float: left;
        height: 29px;
        background: var(--widget-bg);
        color: var(--widget-color);
      }

      & .tag {
        float: left;
        background: #eee;
        color: #333;
        padding: 5px 5px;
        margin-right: 5px;
        border-radius: 3px;
        height: 29px;
      }
    }

    &__suggestions {
      position: absolute;
      background: var(--widget-bg);
      width: 100%;
      z-index: 10;
      max-height: 300px;
      margin-top: 44px;
      overflow: auto;
      border: var(--input-border-color) 1px solid;


      & ul {
        padding: 0;
        margin: 0;

        & li {
          padding: 7px 10px;
          font-size: 14px;

          &:hover {
            cursor: pointer;
            background: var(--widget-bg);

          }
        }
      }
    }
  }
</style>
