<template>
  <b-nav class="px-15 py-15" vertical>
    <b-nav-item :to="{name: 'category-category', params: {category: theme}}" type="dark" v-for="theme in $store.state.categories" :key="theme">{{theme}}</b-nav-item>
  </b-nav>

</template>

<script>
  export default {
    name: "ThemesList",
    data() {
      return {
      }
    },
    methods: {
      goToCategory(category) {
        this.$router.replace({
          name: "category-category",
          params: {
            category: category
          }
        })
      }
    }
  }
</script>

<style scoped>
  .nav-link {
    color: #888;
    font-size: 0.9em;
  }

  .nav-link:hover {
    color: var(--active-theme-color);
    background: var(--active-theme-bg);
    border-radius: 4px;
  }

  .nav-link.active {
    color: var(--active-theme-color);
    background: var(--active-theme-bg);
    border-radius: 4px;
  }
  .separator {
    width: 100%;
    height: 1px;
    background: var(--active-theme-bg);
    margin: 15px;
  }
</style>
