<template>
  <div class="up-arrow d-none d-md-flex" v-if="show" @click="toTop">
    <i class="fas fa-arrow-up"></i>
  </div>
</template>

<script>
  export default {
    name: "UpButton",
    data() {
      return {
        show: false
      }
    },
    methods: {
      toTop() {
        window.scrollTo(0, 0)
      },
    },
    beforeMount() {
      const vm = this;
      window.addEventListener('scroll', event => {
        const pos = document.documentElement.scrollTop;
        vm.show = pos > 300;
      })

    },
    computed: {
    }
  }
</script>

<style lang="scss" scoped>
  .up-arrow {
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    width: 5vw;
    height: 100%;
    z-index: 1000;
    background: var(--up-button-bg);
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s all ease;
    color: var(--up-button-color);
    opacity: 0.3;
    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }
</style>
