<template>
  <div class="preview" @click="showVideo" v-if="!show">
    <img :src="cover" alt="">
    <div class="preview__content">
      <i class="fas fa-play-circle fa-4x"></i>
    </div>
  </div>
  <div v-html="embed_code" v-else>
  </div>
</template>

<script>
  export default {
    props: ['embed_code', 'cover'],
    name: "ViewPreview",
    data() {
      return {
        show: !this.cover,
      }
    },
    methods: {
      showVideo() {
        this.show = true;
      }
    },
    computed: {
    }
  }
</script>

<style lang="scss" scoped>
  .preview {
    position: relative;
    width: 100%;
    background: #333;
    color: #fff;

    &__content {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;

    }

    & img {
      max-width: 100%;
      position: relative;
      opacity: 0.8;
    }
    &:hover {
      cursor: pointer;
    }
  }
</style>
