<template>
  <div class="widget">
    <div class="widget__header" v-if="title">{{title}}</div>
    <div class="widget__content">
      <slot></slot>
    </div>
  </div>
</template>

<script>
  export default {
    props: ['title'],
    name: "widget"
  }
</script>

<style lang="scss" scoped>
  .widget {
    background: var(--widget-bg);
    border-radius: 4px;
    border: 2px solid var(--widget-bg);
    color: var(--widget-color);


    a {
      color: var(--main-color);
    }

    &__header {
      height: 40px;
      line-height: 40px;
      padding: 0 10px;
      font-size: 13px;
      color: #999;
    }

    &__content {
      padding: 15px;
    }
  }
</style>
