<template>
  <section>
    <header class="pt-2">
      <h4 class="text-center"><strong>{{$route.params.category}}</strong></h4>
    </header>
    <br>
    <list feed="popular" :category="$route.params.category"/>
  </section>
</template>

<script>
  import List from "../../components/post/PostsList";

  export default {
    components: {List},
    head() {
      return {
        title: this.$route.params.category
      }
    },
  }
</script>

<style lang="scss" scoped>
  header {
    color: var(--text-color);
  }
</style>
