<template>
  <section v-if="loaded">
    <widget title="Информация">
      <div class="row">
        <div class="col-lg-2 text-center">
          <avatar size="100px" class="pull-lg-right" :url="user.avatar_100" />
        </div>
        <div class="col-lg-9 pt-2">
          <div>
            <strong>{{user.username}}</strong>
          </div>
          <div>
            <small>Рейтинг: {{user.rating}}</small>
          </div>
        </div>
      </div>
    </widget>
    <widget class="my-3">
      <ul class="nav nav-pills ">
        <li class="nav-item">
          <a class="nav-link active" href="#">Посты</a>
        </li>
      </ul>
    </widget>
    <list feed="new" :author="this.$route.params.id"/>
  </section>
  <preloader v-else/>
</template>

<script>
  import Widget from "../../components/Widget";
  import List from "../../components/post/PostsList";
  import Preloader from "../../components/Preloader";
  import Avatar from "../../components/Avatar";

  export default {
    components: {Avatar, Preloader, List, Widget},
    data() {
      return {
        loaded: false,
        user: {}
      }
    },
      head() {
      return {
        title: "Пользователь " + this.user.username,
        meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
          { hid: 'description', name: 'description', content: 'Страница пользователя ' + this.user.username }
        ]
      }
    },
    beforeMount() {
      this.$jeembo_api.request().users.getUserInfo(this.$route.params.id).then(response => {
        this.user = response.data;
        this.loaded = true;
      })
    }
  }
</script>

<style scoped>
  .nav-item .nav-link {
    background-color: var(--main-color);
  }
</style>
