<template>
  <section v-if="!loaded">
    <preloader/>
  </section>
  <section v-else>
    <post :post="post" :disable-spoiler="true"/>
    <comments-list-wrapper :comment_id="comment_id" :post_id="post.id"/>
  </section>
</template>

<script>

  import Post from "../../components/post/Post";
  import Preloader from "../../components/Preloader";
  import CommentsListWrapper from "../../components/comments/CommentsListWrapper";

  export default {
    components: {CommentsListWrapper, Preloader, Post},
    data() {
      return {
        loaded: false,
        comment_loaded: false,
        post: {},
      }
    },
    head() {
      return {
        title: this.post.title,
        meta: [
          {hid: 'description', name: 'description', content: this.post.title},
          {hid: 'og:title', property: 'og:title', content: this.post.title},
          {hid: 'og:description', property: 'og:description', content: this.post.title},
          {hid: 'twitter:title', property: 'twitter:title', content: this.post.title},
          {hid: 'twitter:description', property: 'twitter:description', content: this.post.title}
        ]
      }
    },
    beforeMount() {
      this.$jeembo_api.request().posts.get(this.$route.params.id).then(response => {

        this.post = response.data;
        this.loaded = true;
      });

      this.comment_id = this.$route.query.comment_id;

    },
  }
</script>

<style scoped>

</style>
