<template>
  <div class="main" :class='{"night-theme": $store.state.enableNightMode}'>
    <b-navbar toggleable="md" type="dark" variant="dark" fixed="top">

      <b-container>
        <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
        <nuxt-link to="/">
          <b-navbar-brand>
            Jeembo
          </b-navbar-brand>
        </nuxt-link>


        <b-collapse is-nav id="nav_collapse">

          <ul class="navbar-nav ml-5">
            <li class="nav-item mx-3">
              <nuxt-link to="/" class="nav-link menu-item">
                <i class="fas fa-fire popular-item" style="font-size: 1.25em;"></i>
                <span class="d-none d-lg-inline-block">Популярное</span>
              </nuxt-link>
            </li>
            <li class="nav-item mr-3">
              <nuxt-link to="/best" class="nav-link menu-item">
                <i class="fas fa-thumbs-up"></i>
                <span class="d-none d-lg-inline-block">Лучшее</span>
              </nuxt-link>
            </li>
            <li class="nav-item mr-3">
              <nuxt-link to="/new" class="nav-link menu-item">
                <i class="fas fa-clock"></i>
                <span class="d-none d-lg-inline-block">Новое</span>
              </nuxt-link>
            </li>
            <li class="nav-item mr-3">
              <nuxt-link to="/anon" class="nav-link menu-item">
                <i class="fas fa-eye"></i>
                <span class="d-none d-lg-inline-block">Анонимное</span>
              </nuxt-link>
            </li>
            <li class="nav-item mr-3 d-sm-block d-lg-none d-md-none">
              <nuxt-link to="/menu" class="nav-link menu-item">
                <i class="fas fa-user"></i>
                <span class="d-none d-lg-inline-block">Меню</span>
              </nuxt-link>
            </li>
          </ul>

          <!-- Right aligned nav items -->
          <b-navbar-nav class="ml-auto" style=" position: relative;">
            <notification-button class="d-none d-lg-block"/>
            <button @click.prevent="toggleNightTheme(!$store.state.enableNightMode)"
                    class="btn btn-link mr-2 night-theme-toggler nav-link">
              <i class="fas fa-cloud-sun nav-link" v-if="$store.state.enableNightMode"></i>
              <i class="fas fa-cloud-moon nav-link" v-else></i>
            </button>
            <nuxt-link to="/create" class="nav-link" v-if="$store.state.current_user.id">
              <button class="btn btn-primary">
                <i class="fas fa-plus-circle"></i>
                Создать пост
              </button>
            </nuxt-link>
            <nuxt-link to="/login" class="nav-link" v-else>
              <button class="btn btn-primary">
                Войти
              </button>
            </nuxt-link>
          </b-navbar-nav>
        </b-collapse>
      </b-container>
    </b-navbar>
    <b-container class="pt-5 mt-3">
      <b-row class="mt-2">
        <b-col md="2" lg="2" class="pl-0 d-none d-md-block">
          <themes-list/>
        </b-col>
        <b-col md="10" lg="7" class="px-0" ref="middle">
          <div>
            <nuxt/>
          </div>
        </b-col>
        <b-col md="3" class="d-none d-lg-block">
          <right-sidebar/>
        </b-col>
      </b-row>
      <up-button/>
    </b-container>
  </div>
</template>


<script>

  import ThemesList from "../components/ThemesList";
  import RightSidebar from "../components/RightSidebar";
  import UpButton from "../components/UpButton";
  import NotificationCenter from "../components/notifications/NotificationCenter";
  import NotificationButton from "../components/notifications/NotificationButton";

  export default {
    components: {NotificationButton, NotificationCenter, UpButton, RightSidebar, ThemesList},
    data() {
      return {
        notificationCenterExpanded: false
      }
    },
    comments: {},
    methods: {
      toggleNightTheme(value) {
        this.$store.commit('setNightMode', value);

        if (value) {
          localStorage.setItem("nightMode", value.toString());
        } else {
          localStorage.removeItem("nightMode");

        }
      }
    },
    beforeMount() {
      this.$store.commit('setNightMode', Boolean(window.localStorage.getItem('nightMode')));
      this.$jeembo_api.request().users.getInfoCurrentUser().then(response => {
        this.$store.commit("setToken", this.$jeembo_api.getToken());
        this.$store.commit('setAuth', response.data.user.id);
        this.$store.commit('setCurrentUser', response.data.user);
        this.$store.commit("setCategoriesList", response.data.categories);
        // this.$store.commit("setPopularPosts", response.data.popular_posts);
        this.$store.commit('setLoaded', true);
      }, error => {
        if (error.response.status === 401) {
          this.$jeembo_api.delToken();
          window.location.reload()
        }

      }).catch(error => {
        console.log(error.code);
        this.$store.commit('setAuth', false);
        this.$store.commit('setLoaded', true);
      })
    }
  }
</script>


<style lang="scss">
  body {
    background: #eee;
  }

  :root {
    --main-color: #FE6F61;
    --main-color-disabled: lighten(#FE6F61, 10);
    --bg-color: #eee;
    --text-color: #222;
    --widget-bg: #fff;
    --widget-color: #000;
    --widget-title-color: #444;
    --input-bg: #fff;
    --input-focus-bg: #fff;
    --input-border-color: #ced4da;
    --active-theme-bg: #ddd;
    --input-color: #000;
    --active-theme-color: #333;
    --spoiler-post-bg: #f6f6f6;
    --spoiler-post-shadow: #fff;
    --spoiler-post-color: #FE6F61;
    --link-hover-color: #000;
    --notification-center-bg: #fff;
    --notification-delimiter-color: #eee;
    --up-button-bg: #e4e4e4;
    --up-button-color: #444;
  }


  .night-theme {
    --bg-color: #222;
    --widget-bg: #333;
    --widget-color: #ccc;
    --widget-title-color: #ccc;
    --input-bg: #444;
    --input-focus-bg: #555;
    --input-border-color: #555;
    --input-color: #fff;
    --active-theme-bg: #444;
    --active-theme-color: #fff;
    --spoiler-post-bg: rgba(40, 40, 40, 1);
    --spoiler-post-shadow: #111;
    --spoiler-post-color: #fff;
    --text-color: #fff;
    --link-hover-color: #fff;
    --notification-center-bg: #333333;
    --notification-delimiter-color: #444;
    --up-button-bg: #333;
    --up-button-color: #fafafa;
  }

  .popular-item {
    color: red;
  }

  #__nuxt, #__layout {
    height: 100%;
    background: transparent;
  }

  .navbar {
    padding: unset;
    font-size: 13px;
  }

  .navbar-brand {
    font-family: 'Podkova', sans-serif !important;
    font-size: 1.7rem;
  }

  .btn {
    padding: 0.2rem .6rem;
  }

  .btn-primary {
    color: #ffffff;
    background-color: var(--main-color);
    border-color: var(--main-color);
  }

  .btn-primary:disabled {
    background-color: lighten(#fe6f61, 10);
    border-color: lighten(#fe6f61, 10);


    &:hover {
      background-color: lighten(#fe6f61, 10);
      border-color: lighten(#fe6f61, 10);
      cursor: not-allowed;
    }

  }

  .btn-primary:hover {
    background-color: darken(#fe6f61, 5);
    border-color: var(--main-color);

  }

  .btn-primary:not(:disabled):not(.disabled).active:focus,
  .btn-primary:not(:disabled):not(.disabled):active:focus,
  .show > .btn-primary.dropdown-toggle:focus {
    background-color: var(--main-color);
    border-color: var(--main-color);
    box-shadow: 0 0 0 0.2rem rgba(var(--main-color), 0.5);

  }

  .day-theme {
    --bg-color: #eee;
  }


  .night-theme-toggler {
    color: #fff;
  }

  .btn-link:not(.nav-link), .btn-link:not(.nav-link):hover {
    color: var(--main-color) !important;
    text-decoration: none;
  }

  .main {
    background: var(--bg-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    height: 100%;
    transition: 0.5s background linear, 0.3s background-color ease;
  }

  textarea.form-control, input.form-control {
    background-color: var(--input-bg);
    border-color: var(--input-border-color);
    color: var(--input-color);

    &:focus {
      background-color: var(--input-focus-bg);
      border-color: var(--input-border-color);
      color: var(--input-color);
    }
  }

  .bg-dark {
    background: #101010 !important;
  }

  .block-title {
    font-size: 16px;
    margin-bottom: 16px;
    text-align: center;
  }

  .nav-item {
    & a {
      & * {
        display: inline-block;

      }
    }
  }

  .widget-list .nav-link {
    padding: 0;
    margin-bottom: 6px;
  }

  .widget-list .position-title {
    font-size: 13px;
    color: #47494e;
    font-weight: bold;
  }

  .btn-primary {
    color: #fff;
  }

  .form-control {
    padding: 0.4rem 0.75rem;
  }

  .form-control:focus {
    outline: none;
    box-shadow: none;
    border: 1px #FE6F61 solid;
  }

  .navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .5);

    &.nuxt-link-exact-active, &:hover {
      color: #fff !important;
      text-decoration: none;
    }
  }

  .preloader {
    width: 100%;
    height: calc(100% - 70px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    color: #777;
  }


</style>
