<template>
  <list feed="anon"/>
</template>

<script>
  import List from "../components/post/PostsList";

  export default {
    name: "anon",
    components: {List}
  }
</script>

<style scoped>

</style>
