<template>
  <section>
    <div class="post">
      <div class="title" @paste="onPaste" @focusout="updateTitle" contenteditable="true" placeholder="Заголовок (не обязательно)">
      </div>
      <jeembo-editor v-on:content-changed="onChangeContent"/>
      <b-row class="tags">
        <b-col md="12">
          <tag-input :tags="post.tags"
                     placeholder="Добавьте категории от 1 до 3"
                     :add-tag-only-from-init-tags="true"
                     :init-tags="$store.state.categories"
                     :init-suggestions="suggestions"
                     v-on:change-tags="changeTags"
                     v-on:input-tag="listenInputTagText"
                     :max-tags="3"
          />
        </b-col>
        <b-col md="12" v-if="errors.length > 0">
          <br>
          <div class="alert alert-danger" v-for="error in errors" :key="error">
            {{error}}
          </div>
        </b-col>
      </b-row>
      <b-row class="anon_checkbox">

        <b-col md="12">
          <hr>
        </b-col>
        <b-col md="12">
          <b-form-checkbox v-model="post.anon">Опубликовать анонимно</b-form-checkbox>
        </b-col>
      </b-row>
      <b-row class="postButton">
        <b-col md="12" class="text-center">
          <b-button variant="primary" v-on:click="createPost" :disabled="!enableCreatePostButton">Опубликовать
          </b-button>
        </b-col>
      </b-row>
    </div>
  </section>
</template>

<script>

  import TagInput from "../components/TagInput";
  import OnlyAuthMixins from "../mixins/OnlyAuthMixins";

  export default {
    name: "create",
    mixins: [OnlyAuthMixins],
    head() {
      return {
        title: "Создать пост",
        meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
          { hid: 'description', name: 'description', content: 'Создание поста на Jeembo' }
        ]
      }
    },
    data() {
      return {
        suggestions: [],
        errors: [],
        enableCreatePostButton: true,
        post: {
          anon: false,
          adult: false,
          tags: [],
          body: [],
          title: ""
        }
      }
    },
    watch: {
      'post.body': {
        handler: function (old_val, new_val) {
          console.log(new_val);
          let isBlockContentNotEmpty = true;

          for (let block of new_val) {
            console.log(block);
            if (!block.content) {
              isBlockContentNotEmpty = false;
              break;
            }
          }
          this.enableCreatePostButton = isBlockContentNotEmpty;
        },
        deep: true
      }
    },
    methods: {
      updateTitle(e) {
        this.post.title = e.target.innerText;
      },
      changeTags(tags) {
        this.post.tags = tags;
        this.suggestions = [];
      },
      onChangeContent(body) {
        this.post.body = body;
      },
      onPaste(e) {
        e.preventDefault();
        // const text = e.clipboardData.getData("text/plain").replace(/(\r\n\t|\n|\r\t)/gm, "");
        document.execCommand("insertHTML", false, text);
      },
      listenInputTagText(tag) {
        if (tag && tag !== "") {
          this.suggestions = this.$store.getters.filterCategories(tag);
        } else {
          this.suggestions = [];
        }
      },
      isEmptyBody() {
        let body = [];
        console.log(this.post.body);
        for (let block of this.post.body) {
          if (block.content && block.content.length > 0) {
            body.push(block)
          }
        }

        return body.length === 0;
      },
      validateForm() {
        const errors = [];
        
        if (this.isEmptyBody()) {
          errors.push("Заполните содержимое")
        }

        if (this.post.tags.length === 0) {
          errors.push("Заполните теги")
        }

        this.errors = errors;

        return errors.length === 0;
      },
      createPost() {
        this.errors = [];
        const vm = this;
        if (this.validateForm()) {
          this.$jeembo_api.request(localStorage.getItem('token')).posts.create(
            this.post.title,
            JSON.stringify(this.post.body),
            this.post.tags,
            this.post.anon
          ).then(response => {

            vm.$router.push({
              name: "posts-id", params: {
                id: response.data.id
              }
            });
          }, error => {
            console.log(error)
          })
        }
      }
    },
    components: {
      TagInput
    }
  }
</script>

<style lang="scss" scoped>
  .post {
    background: var(--widget-bg);
    color: var(--widget-color);
  }

  .title {
    width: 100%;
    outline: none;
    border: none;
    font-size: 25px;
    font-weight: bold;
    padding: 20px;
    word-wrap: break-word;

    &:hover {
      cursor: text;
    }
  }

  [contenteditable=true]:empty:before {
    content: attr(placeholder);
    display: block; /* For Firefox */
    color: #888;
  }

  .tags {
    margin-top: 10px;
    padding: 20px 20px 0;
  }

  .anon_checkbox {
    font-size: 14px;
    margin-top: 10px;
    padding: 0 20px;
  }

  .postButton {
    padding: 20px;
  }
</style>
