<template>
  <list feed="popular"/>
</template>

<script>
  import List from "../components/post/PostsList";

  export default {
    name: 'index',
    async asyncData({params}) {
      return {
        info: {
          title: "Популярное",
          description: "Самые обсуждаемые посты на Jeembo"
        }
      }
    },
    head() {
      return {
        title: this.info.title,
        meta: [
          // hid is used as unique identifier. Do not use `vmid` for it as it will not work
          {hid: 'description', name: 'description', content: this.info.description},
          {hid: 'og:title', property: 'og:title', content: this.info.title},
          {hid: 'og:description', property: 'og:description', content: this.info.description},
          {hid: 'twitter:title', property: 'twitter:title', content: this.info.title},
          {hid: 'twitter:description', property: 'twitter:description', content: this.info.description}
        ]
      }
    },
    components: {
      List,
    }
  }
</script>

<style lang="scss" scoped>
</style>

