<template>
  <widget title="Авторизация">
    <div class="row">
      <div class="col-md-6 col-xs-8 offset-xs-2 offset-md-3">
        <LoginForm/>
      </div>
      <div class="col-md-12 text-center">
        <hr>
        <nuxt-link to="/registration" class="btn btn-outline-success">Регистрация</nuxt-link>
      </div>
      <hr>
    </div>
  </widget>
</template>

<script>
  import Widget from "../components/Widget";
  import LoginForm from "../components/sidebar/LoginForm";

  export default {
    components: {LoginForm, Widget}
  }
</script>

<style scoped>

</style>
