<template>
  <section v-scroll v-if="loaded">
    <post :post="mark.post" v-for="mark in marks" :key="mark.id"/>
  </section>
  <preloader v-else/>
</template>

<script>
  import Preloader from "../components/Preloader";
  import Widget from "../components/Widget";
  import Post from "../components/post/Post";
  import OnlyAuthMixins from "../mixins/OnlyAuthMixins";

  export default {
    components: {Post, Widget, Preloader},
    mixins: [OnlyAuthMixins],
    data() {
      return {
        loaded: false,
        marks: [],
        page: 1,
        end_of_list: false,
        lock_loading: false
      }
    },
    head() {
      return {
        title: "Мои оценки",
        meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
          { hid: 'description', name: 'description', content: 'Посты которые вы оценили' }
        ]
      }
    },
    methods: {
      getMarks(page) {
        this.$jeembo_api.request().marks.list(page).then(response => {
          for (let post of response.data.results) {
            this.marks.push(post);
          }
          this.lock_loading = false;
          this.loaded = true;
          this.end_of_list = !response.data.next;
        })
      },
      onScrollBottom() {
        if (!this.end_of_list && !this.lock_loading) {
          this.page += 1;
          this.getPosts(this.page)
        }
      }
    },
    beforeMount() {
      this.getMarks(1)
    }
  }
</script>

<style scoped>

</style>
