<template>
    <UserMenu />
</template>

<script>
    import UserMenu from "../components/sidebar/UserMenu";
    export default {
        name: "menu",
      components: {UserMenu}
    }
</script>

<style scoped>

</style>
