<template>
  <list feed="new"/>
</template>

<script>
  import List from "../components/post/PostsList";

  export default {
    name: "new",
    head() {
      return {
        title: "Новое",
        meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
          { hid: 'description', name: 'description', content: 'Самые новые посты' }
        ]
      }
    },
    components: {List}
  }
</script>

<style scoped>

</style>
