<template>
  <preloader v-if="!loaded"/>
  <widget title="Уведомления" v-else v-scroll="onScrollDown">
    <notification :notification="notification" :key="notification.id" v-for="notification in notifications"
                  v-if="notifications.length > 0"/>

    <div class="empty" v-if="notifications.length < 1">
      <i class="far fa-bell fa-3x"></i>
      <p>Уведмолений нет</p>
    </div>
  </widget>
</template>

<script>
  import Preloader from "../components/Preloader";
  import Notification from "../components/notifications/Notification";
  import Widget from "../components/Widget";

  export default {
    components: {Widget, Preloader, Notification},
    data() {
      return {
        loaded: false,
        notifications: [],
        page: 1,
        end_of_list: false,
        lock_loading: false
      }
    },
    head() {
      return {
        title: "Уведомления",
        meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
          { hid: 'description', name: 'description', content: 'Уведомления об активностях пользователя' }
        ]
      }
    },
    methods: {
      getNotifications(page) {
        this.lock_loading = true;

        this.$jeembo_api.request().notifications.get(page).then(response => {
          response.data.results.forEach(notification => {
            this.notifications.push(notification);
          });

          this.loaded = true;
          if (!response.data.next) {
            this.end_of_list = true;
          }
          this.lock_loading = false;
        })
      },
      onScrollDown() {
        if (!this.end_of_list && !this.lock_loading) {
          this.page += 1;
          this.getNotifications(this.page)
        }
      }
    },
    beforeMount() {
      this.$store.commit('setAllNotificationsAsRead');

      this.getNotifications(this.page)
    }
  }
</script>

<style scoped>
  .empty {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #666;
  }
</style>
