<template>
  <widget title="Регистрация">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <RegistrationForm />
      </div>
      <div class="col-md-12 text-center">
        <hr>
        <nuxt-link to="/login" class="btn btn-outline-success">Войти</nuxt-link>
      </div>
    </div>
  </widget>
</template>

<script>
  import Widget from "../components/Widget";
  import RegistrationForm from "../components/sidebar/RegistrationForm";

  export default {
    name: "registration",
    components: {RegistrationForm, Widget}
  }
</script>

<style scoped>

</style>
