<template>
  <section>
    <widget title="Насттройки">
      <div class="row">
        <div class="col-lg-2 text-center">
          <form action="" ref="file_form" hidden>
            <input type="file" ref="file_field" accept="image/*" @change="onChangeFieldField">
          </form>
          <avatar size="100px" @click.native="onClickOnAvatar" class="rounded-circle img-fluid pull-lg-right avatar"
                  :url="$store.state.current_user.avatar_100"/>
        </div>
        <div class="col-lg-9 pt-2">
          <div>
            <strong>{{$store.state.current_user.username}}</strong>
          </div>
          <div>
            <small>Рейтинг: {{$store.state.current_user.rating}}</small>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <hr/>

          <b-tabs class="settings-tabs" tabs>
            <b-tab title="Информация" active>
              <form @submit.prevent="updateGeneralSettings">
                <div class="form-group row">
                  <label for="username" class="col-sm-4 col-form-label">Имя пользователя</label>
                  <input name="username" v-model="general.username" id="username" type="text"
                         class="form-control col-sm-8">
                  <small class="offset-sm-4">Никнейм должен быть уникальным и быть не менее 4 символов</small>
                  <div class="offset-sm-4" v-if="general_errors.username">
                    <div class="alert alert-primary" v-for="error in general_errors.username" :key="error">
                      {{error}}
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="username" class="col-sm-4 col-form-label">Email</label>
                  <input name="email" v-model="general.email" id="email" type="email" class="form-control col-sm-8">
                  <div class="offset-sm-4" v-if="general_errors.email">
                    <div class="alert alert-primary" v-for="error in general_errors.email" :key="error">
                      {{error}}
                    </div>
                  </div>
                </div>
                <hr>
                <div class="form-group text-center">
                  <button class="btn btn-primary">Сохранить</button>
                </div>
              </form>
            </b-tab>
            <b-tab title="Смена пароля">
              <form @submit.prevent="changePassword">
                <div class="form-group row">
                  <label for="old_password" class="col-sm-4 col-form-label">Старый пароль</label>
                  <input v-model="password.old_password" name="old_password" id="old_password" type="password"
                         class="form-control col-sm-8">
                  <div class="offset-sm-4" v-if="password_errors.old_password">
                    <div class="alert alert-primary" v-for="error in password_errors.old_password" :key="error">
                      {{error}}
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="new_password" class="col-sm-4 col-form-label">Новый пароль</label>
                  <input v-model="password.new_password" name="new_password" id="new_password" type="password"
                         class="form-control col-sm-8">
                  <div class="offset-sm-4" v-if="password_errors.new_password">
                    <div class="alert alert-primary" v-for="error in password_errors.new_password" :key="error">
                      {{error}}
                    </div>
                  </div>
                </div>
                <hr>
                <div class="form-group text-center">
                  <button class="btn btn-primary">Изменить пароль</button>
                </div>
              </form>
            </b-tab>
          </b-tabs>
        </div>
      </div>
    </widget>
  </section>
</template>

<script>
  import Widget from "../components/Widget";
  import Avatar from "../components/Avatar";

  export default {
    components: {Avatar, Widget},
    head() {
      return {
        title: "Настройки",
        meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
          { hid: 'description', name: 'description', content: 'Настройки аккаунта' }
        ]
      }
    },
    data() {
      return {
        general: {
          username: "",
          email: ""
        },
        general_errors: {},

        password: {
          old_password: "",
          new_password: ""
        },
        password_errors: {}
      }
    },
    methods: {
      onChangeFieldField() {
        this.file = this.$refs.file_field.files[0];
        const img = new Image();

        img.src = URL.createObjectURL(this.file);

        img.onload = function () {
        };

        let formData = new FormData();
        formData.append('file', this.file);


        this.$jeembo_api.request().files.uploadAvatar(formData).then(response => {
          this.$store.commit('setCurrentUser', response.data)
        })
      },
      updateGeneralSettings() {
        this.general_errors = {};
        this.$jeembo_api.request().users.update(this.general).then(response => {
          this.$store.commit('setCurrentUser', response.data)
        }, error => {
          this.general_errors = error.response.data;
        })
      },
      changePassword() {
        this.password_errors = {};
        this.$jeembo_api.request().users.changePassword(this.password.old_password, this.password.new_password).then(response => {
          this.password.old_password = "";
          this.password.new_password = "";
          alert("Пароль успешно изменен");
        }, error => {
          this.password_errors = error.response.data;
        })
      },
      onClickOnAvatar() {
        this.$refs.file_field.click()
      }
    },
    beforeMount() {
      this.general.email = this.$store.state.current_user.email;
      this.general.username = this.$store.state.current_user.username;
    }
  }
</script>

<style scoped>
  .avatar:hover {
    cursor: pointer;
  }

  .settings-tabs {
    margin-bottom: 20px !important;
  }
</style>
