<template>
  <div class="post">
    <div class="author">
      <div class="author__avatar">
        <avatar :url="post.author.avatar_100" size="50px"/>
      </div>
      <div class="author__name">
        <nuxt-link :to='{name: "users-id", params: {id: post.author.id}}'>{{post.author.username}}
        </nuxt-link>
        <div class="author__info">
          <span>{{ post.date_created | moment('D MMMM в HH:mm') | dateNormalize }}</span>
        </div>
      </div>
    </div>
    <div class="title">
      <nuxt-link :to='{name: "posts-id", params: { "id": this.post.id }}' target="_blank">{{post.title}}</nuxt-link>
    </div>
    <div class="content" :style="postStyle" ref="content">
      <div :class="getClass(block.type)" v-for="block in content" :key="block.uid">
        <div v-if="block.type === 'text'" v-html="block.content">
        </div>
        <view-preview v-if="block.type === 'video'" :cover="block.preview" :embed_code="block.content"></view-preview>

        <div v-if="block.type === 'image'" v-viewer>
          <img :src="block.content">
        </div>
        <div class="post__spoiler" v-if="spoiler" @click="showFullPost">
          <span> <i class="far fa-eye"></i> Отобразить полностью</span>
        </div>
      </div>
    </div>
    <div class="tags">
      <b-row>
        <b-col md="6">
          <nuxt-link :to="{name: 'category-category', params: {category: category}}" class="tag"
                     v-for="category in post.categories" :key="category">
            {{category}}
          </nuxt-link>
        </b-col>
      </b-row>
    </div>
    <b-row class="footer">
      <b-col sm="4" md="4" lg="4" cols="4">
        <div class="rating">
          <div class="rating__item rating_plus up" :class="{'active': mark === 1}" @click="vote(1)">
            <i class="fas fa-arrow-up"></i>
          </div>
          <div class="rating__item">
            {{rating}}
          </div>
          <div class="rating__item rating_minus down" :class="{'active': mark === -1}" @click="vote(-1)">
            <i class="fas fa-arrow-down"></i>
          </div>
          &nbsp;&nbsp;&nbsp;
        </div>
      </b-col>
      <b-col sm="4" md="4" lg="4" cols="4" class="text-center">
        <nuxt-link :to="{name: 'posts-id', params: {id: post.id}}">
          <i class="far fa-comment"></i>&nbsp;&nbsp;{{post.count_comments}}
        </nuxt-link>
      </b-col>
    </b-row>
  </div>
</template>

<script>
  import Widget from "../Widget";
  import ViewPreview from "../VideoPreview";
  import Avatar from "../Avatar";

  export default {
    components: {Avatar, ViewPreview, Widget},
    props: ['post', 'disableSpoiler'],
    name: "Post",
    data() {
      return {
        content: undefined,
        spoiler: false,
        mark: 0,
        rating: 0,
        source: {}
      }
    },
    beforeMount() {
      this.content = JSON.parse(this.post.body);

      for (let i = 0; i < this.content.length; i++) {
        const block = this.content[i];

        if (block.type === "text") {
          // block.content = block.content.replace("\n", "</br>");
          block.content = this.urlify(block.content);

        }

        this.$set(this.content, i, block);
      }
    },
    mounted() {
      this.spoiler = this.disableSpoiler ? false : this.isBigPost();
      this.mark = this.post.user_rating;
      this.rating = this.post.rating;
    },
    methods: {

      urlify(text) {
        const urlRegex = /(https?:\/\/[^\s]+)/g;
        return text.replace(urlRegex, function (url) {
          return '<a class="external_link" target="_blank" href="' + url + '">' + url + '</a>';
        })
      },
      /**
       * Метод установки оценки
       * @param mark - целове число от -1 до 1
       */
      vote(mark) {
        if (mark !== this.mark) {
          console.log(mark);
          const new_vote = this.mark + mark;
          console.log(new_vote);
          this.mark = new_vote;
          this.rating += mark;
          this.$jeembo_api.request().marks.add(
            'post',
            this.post.id,
            new_vote
          )
        }
      },

      /**
       * Проверка Показывать ли спойлер или нет
       * @returns {boolean}
       */
      isBigPost() {
        if (this.content.length > 1) {
          return this.$refs.content.clientHeight > 500;
        } else {
          if (this.content[0].type === "text") {
            return this.$refs.content.clientHeight > 500;
          } else {
            return false;
          }
        }
      },

      /**
       * Возвращает класс для блока статьи
       * @param type_block - тип блока
       * @returns {string}
       */
      getClass(type_block) {
        return 'post__block--' + type_block
      },

      /**
       * Скрывает спойлер и отображает пост полностью
       */
      showFullPost() {
        this.spoiler = false;
      }
    },
    computed: {
      postStyle() {
        return {
          'height': this.spoiler && !this.disableSpoiler ? "500px" : "auto",
          'overflow': 'hidden'
        }
      }
    },
    filters: {
      dateNormalize(value) {
        return value.toLowerCase().replace(",", "")
      }
    }
  }
</script>

<style lang="scss">
  .post {
    position: relative;
    margin-bottom: 15px;
    background: var(--widget-bg);
    border-radius: 4px;
    color: var(--widget-color);
    border: 1px solid var(--widget-bg);

    & a {
      color: var(--main-color) !important;
      text-decoration: none;
    }

    & .author {
      padding: 15px 15px 0;
      display: flex;

      &__name {
        padding-left: 10px;
      }

      &__info {
        font-size: 0.85em;
      }
    }

    &__block {

      & a.external_link {
        color: var(--main-color) !important;
        text-decoration: none;
      }

      &--image {
        padding: 2.5px 0;
        text-align: center;

        & img {
          max-width: 100%;
          margin: 0 auto;
        }

        &:hover {
          cursor: zoom-in;
        }
      }

      &--text {
        padding: 10px 20px;
        white-space: pre-line;
      }
    }

    &__spoiler {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 56px;
      background: var(--spoiler-post-bg);
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: flex-start;
      transition: all 0.3s ease;
      color: var(--spoiler-post-color);

      &:hover {
        cursor: pointer;
        opacity: 1;
      }
    }

    & .title {
      width: 100%;
      outline: none;
      border: none;
      font-size: 23px;
      color: var(--widget-title-color);
      font-weight: 600;
      word-wrap: break-word;
      padding: 15px 20px 5px;


      & a {
        color: var(--widget-title-color) !important;
      }

    }

    & .info {
      padding: 0 20px;
    }

    & .tags {
      padding: 10px 20px;

      & a.tag {
        background: #eee;
        padding: 2px 7px;
        margin-right: 10px;
        color: #333 !important;
        border-radius: 4px;
        font-size: 10px;


        &:hover {
          text-decoration: none;
        }
      }
    }

    & .info {
      font-size: 13px;
      color: #777;
    }

    & .content {
      line-height: 1.56;
      font-size: 1.1em;
      padding-top: 10px;
      position: relative;
    }

    & .footer {
      height: 56px;
      line-height: 56px;
      color: #888;
      margin: 10px 0;


      & a {
        color: #888 !important;
        font-size: 1.2em;


        &:hover {
          text-decoration: none;
          color: #000;
        }
      }
    }

    & .rating {
      display: flex;
      flex: 1;
      flex-direction: row;

      & .rating_plus, & .rating_minus {
        font-size: 1.5em;

        &:hover {
          cursor: pointer;
        }
      }

      &__item {
        padding: 0 10px;

        &:hover {
        }
      }

      & .up.active {
        color: #39c800;
      }

      & .down.active {
        color: #ff4500;
      }
    }
  }
</style>
