<template>
  <preloader v-if="loading"/>
  <section v-scroll="onScrollDown" v-else>
    <post
      v-if="posts.length > 0"
      :post="post"
      v-for="post in posts"
      :key="post.id"/>
    <div class="empty_preview" v-if="posts.length === 0">
      <i class="far fa-newspaper fa-5x"></i>
      <br>
      <p>Постов пока нет</p>
    </div>
  </section>
</template>

<script>
  import Post from "./Post";
  import Preloader from "../Preloader";

  export default {
    name: "list",
    props: {
      feed: {
        type: String,
        default: "popular"
      },
      category: {
        type: String,
        default: 'all'
      },
      author: {
        type: Number
      }
    },
    data() {
      return {
        posts: [],
        loading: true,
        page: 1,
        end_of_list: false,
        lock_loading: false
      }
    },
    beforeMount() {
      this.getPosts(this.page);
    },
    methods: {
      getPosts(page) {
        if (!this.lock_loading) {
          this.lock_loading = true;
          this.$jeembo_api.request().posts.list(page, this.feed, this.category, this.author).then(response => {
            for (let post of response.data.results) {
              this.posts.push(post);
            }
            this.lock_loading = false;
            this.loading = false;
            this.end_of_list = !response.data.next;

          }, error => {
            this.end_of_list = true;
            this.loading = false;
            this.lock_loading = false;
          })
        }
      },
      onScrollDown() {
        if (!this.end_of_list && !this.lock_loading) {
          this.page += 1;
          this.getPosts(this.page)
        }
      }
    },
    components: {
      Preloader,
      Post
    }
  }
</script>

<style scoped>

  .empty_preview {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    color: #999;
  }
</style>
