<template>
  <div class="notification__wrapper" @click="goTo">
    <div class="notification__content">
      <div class="notification__content--avatar">
        <avatar class="rounded-circle" :url="notification.sender.avatar_50" size="40px"/>
      </div>
      <div class="notification__content--body">
        <div v-if="notification.type_notification === 1">
          <nuxt-link :to="{name: 'users-id', params: {'id': notification.sender.id}}">{{notification.sender.username}}
          </nuxt-link>
          ответил на ваш комментарий
          <nuxt-link
            :to="{name: 'posts-id', params: {id: notification.post.id}, query: {comment_id: notification.comment.id}}"
            v-if="notification.post">
            {{notification.comment.text}}
          </nuxt-link>
        </div>

        <div v-if="notification.type_notification === 2">
          <nuxt-link :to="{name: 'users-id', params: {'id': notification.sender.id}}">{{notification.sender.username}}
          </nuxt-link>
          написал комментарий
          <nuxt-link
            :to="{name: 'posts-id', params: {id: notification.post.id}, query: {comment_id: notification.comment.id}}"
            v-if="notification.post">
            {{notification.comment.text}}
          </nuxt-link>
        </div>

        <div class="notification__content--date"><span>{{ notification.created_at | moment('D MMMM в HH:mm') }}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Avatar from "../Avatar";

  export default {
    components: {Avatar},
    props: ['notification'],
    name: "Notification",
    methods: {
      goTo() {
      }
    }
  }
</script>

<style lang="scss" scoped>
  .notification__wrapper {
    border-bottom: 1px solid var(--notification-delimiter-color);

    & a {
      color: var(--main-color);
    }
    &:hover {
      cursor: pointer;
      background: var(--widget-bg);
    }

    &:last-child {
      border-bottom: none;
    }
  }

  .notification__content {
    color: var(--text-color);
    padding: 15px;
    font-size: 13px;

    display: flex;
    flex-direction: row;

    &--date {
      color: #777;
      font-size: 12px;
    }

    &--avatar {
      margin-right: 15px
    }

    &--body {
    }
  }
</style>
