<template>
  <div class="notification_button btn" v-click-outside="closeCenter">

    <button @click="toggleCenter" class="btn btn-link nav-link" v-if="$store.state.current_user.id">
      <i class="fas fa-bell"
         v-if="$store.state.current_user.count_unread_notification > 0"></i>
      <i class="far fa-bell" v-else></i>
      <span v-if="$store.state.current_user.count_unread_notification > 0" class="badge badge-secondary">{{$store.state.current_user.count_unread_notification}}</span>
    </button>

    <notification-center  v-if="isOpen" class="notifications"/>
  </div>
</template>

<script>
  import NotificationCenter from "./NotificationCenter";

  export default {
    name: "NotificationButton",
    components: {NotificationCenter},
    data() {
      return {
        isOpen: false
      }
    },
    methods: {
      closeCenter() {
        this.isOpen = false;
      },
      toggleCenter() {
        this.isOpen = !this.isOpen;
      }
    }
  }
</script>

<style scoped>
  .notification_button {
    padding-top: 0.5em;
  }
</style>
