<template>
  <div class="notification-center">
    <div class="notification-center__wrapper">
      <div class="notification-center__wrapper--header">
        Уведомления
      </div>
      <div class="notification-center__wrapper--body">
        <notification :notification="notification" :key="notification.id" v-for="notification in notifications"
                      v-if="notifications.length > 0"/>
        <div class="empty" v-if="notifications.length < 1">
          <i class="far fa-bell fa-3x"></i>
          <p>Уведмолений нет</p>
        </div>
      </div>
      <div class="notification-center__wrapper--footer">
        <nuxt-link :to="{path: '/notifications'}">
          Все уведомления
        </nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>
  import Notification from "./Notification";

  export default {
    name: "NotificationCenter",
    components: {Notification},
    data() {
      return {
        notifications: [],
      }
    },
    beforeMount() {
      this.$store.commit('setAllNotificationsAsRead');
      this.$jeembo_api.request().notifications.get().then(response => {
        this.notifications = response.data.results;
      })
    }
  }
</script>

<style lang="scss" scoped>
  .empty {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #666;
  }

  .notification-center {
    position: absolute;
    width: 350px;
    height: 500px;
    z-index: 100;
    top: 45px;
    left: -50%;
    text-align: left;

    &__wrapper {
      height: 100%;
      background: var(--notification-center-bg);
      border-radius: 1px;
      color: var(--text-color);
      box-shadow: 0 50px 50px rgba(0, 0, 0, 0.3);

      &--body {
        height: 420px;
        overflow: auto;
      }

      &--header {
        border-bottom: 1px solid var(--notification-delimiter-color);
      }

      &--footer {
        border-top: 1px solid var(--notification-delimiter-color);
        text-align: center;
      }

      &--header, &--footer {
        height: 40px;
        padding: 0 15px;
        line-height: 40px;
      }
    }


  }
</style>
