<template>
  <text-block v-if="block.type === 'text'"
              :block="block"
              @up="$emit('up', block)"
              @delete="$emit('delete', block)"/>

  <image-block :block="block"
               v-else-if="block.type === 'image'"
               @up="$emit('up', block)"
               @delete="$emit('delete', block)"
  />
  <video-block :block="block"
               v-else-if="block.type === 'video'"
               @up="$emit('up', block)"
               @delete="$emit('delete', block)"
  />
  <quote-block v-else-if="block.type === 'quote'"
               :block="block"
               @up="$emit('up', block)"
               @delete="$emit('delete', block)"/>

  <link-block v-else-if="block.type === 'link'"
              :block="block"
              @up="$emit('up', block)"
              @delete="$emit('delete', block)"/>
</template>

<script>
  import TextBlock from "./blocks/TextBlock";
  import ImageBlock from "./blocks/ImageBlock";
  import VideoBlock from "./blocks/VideoBlock";
  import QuoteBlock from "./blocks/QuoteBlock";
  import LinkBlock from "./blocks/LinkBlock";

  export default {
    props: ['block'],
    name: "FabricBlock",
    components: {LinkBlock, ImageBlock, VideoBlock, TextBlock, QuoteBlock}
  }
</script>

<style lang="scss" scoped>
</style>
