<template>
  <div class="freckleEditor">
    <div class="freckleEditor__body">
      <fabric-block @up="onUpButton"
                    @delete="onDelete"
                    v-for="block in body" :key="block.uid"
                    :block="block"/>
    </div>
    <toolbar @select="onSelectBlock"/>
  </div>
</template>

<script>
  import Toolbar from "./Toolbar";
  import FabricBlock from "./FabricBlock";

  export default {
    props: ['width'],
    name: "FreckleEditor",
    data() {
      return {
        body: [],
      }
    },
    watch: {
      body: function () {
        this.emitChangeData();
      }
    },
    methods: {
      onDelete(block) {
        this.body.forEach((value, key) => {
          if (value.uid === block.uid) {
            this.body.splice(key, 1);
          }
        });
      },
      onUpButton(block) {
        this.body.forEach((value, key) => {
          if (value.uid === block.uid) {
            if (key > 0) {
              const t = this.body[key - 1];
              this.body.splice(key - 1, 1, this.body[key]);
              this.body.splice(key, 1, t)
            }
          }
        });
      },
      onSelectBlock(type) {
        this.body.push({
          uid: '_' + Math.random().toString(36).substr(2, 9),
          type: type,
          content: undefined
        });
      },
      emitChangeData() {
        this.$emit("content-changed", this.body);
      }
    },
    components: {FabricBlock, Toolbar},

  }
</script>

<style lang="scss" scoped>
  .freckleEditor {
    min-height: 100px;
    width: 100%;
    background: var(--widget-bg);
    display: flex;
    flex-direction: column;

    &__body {
      width: 100%;
    }
  }
</style>
