<template>
  <div class="toolbar">
    <div class="toolbar__actions">
      <div class="toolbar__actions--item" @click="select('text')">
        <i class="text"></i>
        <div>
          Текст
        </div>
      </div>
      <div class="toolbar__actions--item" @click="select('image')">
        <i class="image"></i>
        <div>
          Картинка
        </div>
      </div>
      <div class="toolbar__actions--item" @click="select('video')">
        <i class="video"></i>
        <div>
          Видео
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "Toolbar",
    methods: {
      select(type) {
        this.$emit('select', type);
      }
    }
  }
</script>

<style lang="scss" scoped>
  .toolbar {
    width: 100%;
    margin-top: 20px;

    &__actions {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;

      &--item {
        width: 64px;
        height: 64px;
        border-radius: 100%;
        text-align: center;
        margin: 0 10px;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        display: flex;
        font-size: 13px;
        color: var(--widget-color);


        & .image {
          width: 24px;
          height: 24px;
          margin: 0 auto 10px;
          background-color: var(--widget-color);
          border: none;
          -webkit-mask-image: url("../assets/picture.svg");
          mask-image: url("../assets/picture.svg");
        }

        & .video {
          width: 24px;
          height: 24px;
          margin: 0 auto 10px;
          background-color: var(--widget-color);
          border: none;
          -webkit-mask-image: url("../assets/play-button.svg");
          mask-image: url("../assets/play-button.svg");
        }

        & .text {
          width: 24px;
          height: 24px;
          margin: 0 auto 10px;
          background-color: var(--widget-color);
          border: none;
          -webkit-mask-image: url("../assets/paper.svg");
          mask-image: url("../assets/paper.svg");
        }


        & .link {
          width: 24px;
          height: 24px;
          margin: 0 auto 10px;
          background-color: var(--widget-color);
          border: none;
          -webkit-mask-image: url("../assets/unlink.svg");
          mask-image: url("../assets/unlink.svg");
        }

        & img {
          width: 24px;
          height: 24px;
          margin: 0 auto 10px;

          & path {
            fill: #f8f9fa;
          }
        }

        &:hover {
          cursor: pointer;
          color: #f44336;
        }
      }
    }
  }
</style>
